/* #SearchDetail {
    
} */

#SearchDetail>h2 {
    text-align: center;
    margin: 20px 0;
}

.headerSearchDetail {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center
}

.headerSearchDetail h2 {
    width: 80%;
}

.headerSearchDetail .header-arrow {
    width: 20%;
    margin: 0;
    text-align: center;
}

.header-arrow {
    font-weight: bold;
    font-size: 36px;
    cursor: pointer;
}

.header-arrow--white {
    color: white;
}

.searchDetailList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
}

.searchDetail article {
    /*VAR CARD WIDTH */
    --card-width: 130px;
    /*VAR CARD WIDTH */
    margin: 10px 10px;
    font-family: var(--font-family-text);
    width: var(--card-width);
    border-radius: 10px;
    box-shadow: 2px 3px 3px 3px #888888ba;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.searchDetail article img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: var(--card-width);
}

.searchDetail article .articleTitle {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: inherit;
    height: 60px;
}

.searchDetail article .articleTitle p {
    width: inherit;
    text-align: center;
    font-size: 14px;
}