html {
    background-color: rgb(255, 255, 255);
}

* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    width: 375px;
    --font-family-titles: 'Dosis', sans-serif;
    --font-family-text: 'Red Hat Display', sans-serif;
}

body {
    border: 1px solid black;
    border-radius: 40px;
    height: 100vh;
}

.inactive {
    display: none;
}